<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.MBTI.myapplication">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".list.intj.intj1"
            android:exported="false" />
        <activity
            android:name=".list.intj.intj_list"
            android:exported="false" />
        <activity
            android:name=".all_mbti"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false"
            android:label="@string/home" />
        <activity
            android:name=".intro.enfj_intro"
            android:exported="false" />
        <activity
            android:name=".intro.enfp_intro"
            android:exported="false" />
        <activity
            android:name=".intro.estj_intro"
            android:exported="false" />
        <activity
            android:name=".intro.estp_intro"
            android:exported="false" />
        <activity
            android:name=".intro.istp_intro"
            android:exported="false" />
        <activity
            android:name=".intro.istj_intro"
            android:exported="false" />
        <activity
            android:name=".intro.esfp_intro"
            android:exported="false" />
        <activity
            android:name=".intro.isfp_intro"
            android:exported="false" />
        <activity
            android:name=".intro.isfj_intro"
            android:exported="false" />
        <activity
            android:name=".intro.infp_intro"
            android:exported="false" />
        <activity
            android:name=".intro.infj_intro"
            android:exported="false" />
        <activity
            android:name=".intro.entj_intro"
            android:exported="false" />
        <activity
            android:name=".intro.entp_intro"
            android:exported="false" />
        <activity
            android:name=".intro.intp_intro"
            android:exported="false" />
        <activity
            android:name=".intro.esfj_intro"
            android:exported="false" />
        <activity
            android:name=".intro.intj_intro"
            android:exported="false" />
        <activity
            android:name=".MBTI_input"
            android:exported="false"
            android:label="@string/mbti_input" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>