<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.MBTI.myapplication">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <activity
            android:name=".all_mbti"
            android:exported="false" />
        <activity
            android:name=".home"
            android:label="@string/home"
            android:exported="false" />

        <activity
            android:name=".enfj_intro"
            android:exported="false" />
        <activity
            android:name=".enfp_intro"
            android:exported="false" />
        <activity
            android:name=".estj_intro"
            android:exported="false" />
        <activity
            android:name=".estp_intro"
            android:exported="false" />
        <activity
            android:name=".istp_intro"
            android:exported="false" />
        <activity
            android:name=".istj_intro"
            android:exported="false" />
        <activity
            android:name=".esfp_intro"
            android:exported="false" />
        <activity
            android:name=".isfp_intro"
            android:exported="false" />
        <activity
            android:name=".isfj_intro"
            android:exported="false" />
        <activity
            android:name=".infp_intro"
            android:exported="false" />
        <activity
            android:name=".infj_intro"
            android:exported="false" />
        <activity
            android:name=".entj_intro"
            android:exported="false" />
        <activity
            android:name=".entp_intro"
            android:exported="false" />
        <activity
            android:name=".intp_intro"
            android:exported="false" />
        <activity
            android:name=".esfj_intro"
            android:exported="false" />
        <activity
            android:name=".intj_intro"
            android:exported="false" />
        <activity
            android:name=".MBTI_test"
            android:exported="false" />
        <activity
            android:name=".MBTI_input"
            android:label="@string/mbti_input"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".unknown" />
    </application>

</manifest>